<%- include('partials/header')%>
<div class="container">
    <h1>THE CLASS</h1>
    <p>This is a page of all the members of the Upper Class. These are messages written by the people who have contributed to the class this past year.</p>
</div>
<div class="container">
    <h1>JUNIORS (CLASS OF '27)</h1>
    <h6>well except for like one person</h6>
    <br><br>
    <h2>Dylan A.</h2>
    <img src="/Dylan_Anderson.png" alt="">
    <h4>Dylan's Message:</h4>
    <p>I am a person who does programming stuff. I like playing videos games. I may be a nerd. I have a girlfriend though somehow. May the force be with you. Live long and prosper. Anyway go check out my website (it's from last year): https://27danderson.github.io/ (Most importantly check out my playlist and visit the secret page). Okay that's all toodeloo!</p>
    <br><br>
    <h2>Liam</h2>
    <h6>[didn't have an image]</h6>
    <h4>Liam's Message:</h4>
    <p>I like to make single player games</p>
    <br><br>
    <h2>Truit</h2>
    <h6>[didn't have an image]</h6>
    <h4>Truit's Message:</h4>
    <p>I enjoy web development and any sort of programming problem solving. I am the lead dev of chessbar</p>
    <br><br>
    <h2>Donald</h2>
    <h6>(oh hey, that's me!)</h6>
    <h4>Donald's Message:</h4>
    <p>I enjoy coding stuff that is enjoyable for both me and my peers. It's so satisfying seeing something you put a lot of time into come together.</p>
    <br><br>
    <h2>Landon</h2>
    <h4>Landon's Message:</h4>
    <p>Hey, I'm Landon! If you don't already know, I'm a pretty okay Frontend developer. I've worked on projects like Formbar, along with my own side projects like recreating operating systems on web in my free time. I like programming simply because it's a very easy way to create big things, and once experienced enough, go even further into things other than frontend and websites. I don't do a whole bunch outside of school since I'm usually tired, but when I'm not I'll most likely be playing games like CS2, or calmer games like Celeste.</p>
    <br><br>
    <h2>Levi</h2>
    <h6>[didn't have an image]</h6>
    <h4>Levi's Message:</h4>
    <p>I don't know</p>
    <br><br>
    <h2>Kayden</h2>
    <img src="/KAYDENWHY.jpg" alt="">
    <h4>Kayden's Message:</h4>
    <p>this is me and i am an it goon.</p>
    <h6>(yes, this is what he wanted me to put. idk what his parents feed him)</h6>
    <br><br>
    <h2>Vincent</h2>
    <h4>Vincent's Message:</h4>
    <p>Hi, my name is Vincent and I am currently a junior in the Programming upper class. In class, my main interests are working with CSS and SQL along with a very little bit of JS. Outside of class, I enjoy variety gaming and lots of genres of music like J-Rock and K-Pop.</p>
    <br><br>
    <h2>Christian</h2>
    <h4>Christian's Message:</h4>
    <p>I like making games and whatnot</p>
    <br><br>
    <h2>Dylan M.</h2>
    <h4>Dylan's Message:</h4>
    <br><br>
    <h2>Carlos</h2>
    <h4>Carlos's Message:</h4>
    <p>I like how in this class we can really do anything with programming, even turn it into a company.</p>
    <br><br>
    <h2>Markus</h2>
    <h4>Markus's Message:</h4>
    <p>I like reading and video games. I got a computer a while ago.</p>
    <br><br>
    <h2>Carter</h2>
    <h4>Carter's Message:</h4>
    <p>I have been really enjoying programming this year. It feels so satisfying to finally fix a problem that had been bugging you for hours. I have been hard at work since I joined by company, and each new problem and issue comes with new skills to learn and techniques to implement to make systems easier. Adding all of the backend stuff isn't easy, but it comes with the reward of finally getting everything to come together.
        Being a programmer makes you really have to think outside the box. You get to evolve your problem solving skills and you get to bring your creativity to life. This class is the first step to my future.</p>
    <br><br>
    <h2>Stephen</h2>
    <img src="/1000001201.jpg" alt="">
    <h4>Stephen's Message:</h4>
    <p>One of the things I enjoy about programing is the challenge. It feels good to solve a difficult task by yourself and learn from it. I also like the ability to branch out and do my own thing. Programming gives me opportunity to express my creativity.</p>
    <br><br>
    <h2>Gabby</h2>
    <img src="/gabby.jpg" alt="">
    <h4>Gabby's Message:</h4>
    <p>Hi! My name is Gabby Stevens. I'm currently a junior in the upper programming class. My interests have varied a lot, but I guess one of my primary goals right now is to learn how to program practically rather than theoretically. I always like the challenge programming brings; there's always something new to learn. I also like to play video games, play violin, read fiction novels, and write stories in my free time.</p>
</div>
<br><br>
<div class="container">
    <h1>SENIORS</h1>
    <br><br>
    <h2>Robert</h2>
    <h4>Robert's Message:</h4>
    <br><br>
    <h2>Jesse</h2>
    <h4>Jesse's Message:</h4>
    <br><br>
    <h2>Kris</h2>
    <h4>Kris's Message</h4>
    <br><br>
    <h2>Jan</h2>
    <h4>Jan's Message:</h4>
    <br><br>
    <h2>Gabriel</h2>
    <h4>Gabriel's Message:</h4>
    <br><br>
    <h2>Hayden</h2>
    <img src="/HAYDEN.jpg" alt="">
    <h4>Hayden's Message:</h4>
    <p>I'm just a silly guy and I like programming, playing music, video games, etc</p>
    <br><br>
    <h2>Mason (STEVEN!)</h2>
    <img src="/undefined.png" alt="">
    <h4>Mason (STEVEN!)'s Message:</h4>
    <p>In class, I work on Formbar, and the part of programming I love the most is being able to visually see my code working when other people use it. Developing something that is actually used by other people motivates me a lot, so that is why I work on Formbar. Outside of class, I program, play video games, and enjoy taking walks outside. </p>
    <br><br>
    <h2>Ben</h2>
    <img src="/Image.jpg" alt="">
    <h4>Ben's Message:</h4>
    <p>i like chicken</p>
    <br><br>
    <h2>Isaiah</h2>
    <h4>Isaiah's Message:</h4>
    <br><br>
    <h2>Bryce</h2>
    <img src="/pixelblitz.png" alt="">
    <h4>Bryce's Message:</h4>
    <p>Pixel-Blitz</p>
    <br><br>
    <h2>AaJah</h2>
    <h4>AaJah's Message</h4>
    <h2></h2>
    <br><br>
    <h2>Connor</h2>
    <h4>Connor's Message:</h4>
    <p>I like that you can basically do whatever you want with programming, and as long as you are willing to learn you probably accomplish what you want. Along with the different ways there are to doing things in programming, short ways, long ways, complicated, and just the easy way . I like that Mr. Smith basically lets people do whatever company ideas you want to do as long as you are producing work and showing effort. Outside of class I just play games, watch stuff, going for walks, and reading. </p>
    <br><br>
    <h2>Matthew</h2>
    <h4>Matthew's Message:</h4>
    <p>Hello, I am a senior who works within the IRLTech company and my average day consists of assembling components and programming them to complete various tasks. While I have free time at home I enjoy playing video games and challenging myself to perform better.</p>
    <br><br>
    <h2>Lynn</h2>
    <h4>Lynn's Message</h4>
    <p>Computer? I hardly know her!</p>
</div>
<%- include('partials/footer')%>