<%- include('partials/header')%>

<div class="container">
    <h1>WELCOME TO THE COMPUTER PROGRAMMING 25-26 UPPER CLASS SITE!</h1>
    <a href="aboutus"></a>
    <a href="projinfo">Project Info</a>
</div>
<%- include('partials/footer') %>