<%- include('partials/header')%>
<div class="container">
    <h1>Why did i do this?</h1>
    <p>I made this because I felt like this was a fun way to introduce ourselves and talk about some things
        that we do in class, and also so people can get to know us more. Hope it wa s a fun read for you lot.
        Check out my github here:
        https://donaldg2027.github.io
    </p>
    
</div>
<%- include('partials/footer')%>